PERPLEXITY_API_KEY= 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
QUANTIQ_API= 15e73db96022b6140cbb3c2c2d9359056109e996030fcce4040a41af67534c15
OPENAI_API_KEY= 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
ALPACA_API_KEY= PK24PUNOA87BIMI6XGR7
ALPACA_SECRET_KEY= DKrdaQEIfjZJaLVE0d9ct0EwYOGgb46Sbifv4IaN
ALPACA_PAPER="true"